<header>
       <div class="wrapper" >
            <div class="row">
                <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                    
                    <ul class="top">
                        <div class="circle"></div> 
                        <div class="center"></div>
                        <li>
                            <div class="typewriter">
                                Portfolio.
                              </div>
                        <div class="drop"></div>
                        
                       </li>
                                 
                    </ul>
                    
                    <ul class="container">
                        <li>
                            <a href="#"> Home </a>
                        </li>
                        <li>
                            <a href="#"> About </a>
                        </li>
                        <li>
                            <a href="#"> Skills </a>
                        </li>
                        <li>
                            <a href="#"> Projects </a>
                        </li>
                        <li>
                            <a href="#"> Contact </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
</header>
