<main class="fillHeight">

<section class="hero__StyledHeroSection-sc-116xg8t-0 eEjAsd">

        <div class="heading">
           <h1> Hi, my name is</h1>
        </div>
        <div>
        <h2 class="big-heading">Krishnanand Anil.</h2></div>
<div> <h3 class="big-heading">I play with data</h3></div>
<div><p>I’m a data engineer specializing in building (and occasionally designing) exceptional data pipelines. Currently, I’m Learning more on Image data processing, Deep learning.</p></div>

</section>

</main>