
<div class="p-wrapper" ></div>
<main class="fillHeight">

<section class="eEjAsd">

        <div class="heading">
           <h1> Hey there ✌, my name is</h1>
        </div>
        <div>
        <h2 class="big-heading">Krishnanand Anil.</h2></div>
<div><ngx-typed-js [strings]="['Data scientist.', 'Data Engineer.']"  [typeSpeed]="100" [backSpeed]="50" [smartBackspace]="true" [backDelay]="100" [showCursor]="true" [loop]="true" [loopCount]="3">
        <h3 class="big-heading">I am a  <span class="typing roles"></span></h3></ngx-typed-js></div>
        
<div><p>Nice to meet you stranger👋, I'm very passionate in creating and learning large scale data solutions. I have expertise in many data related roles, currently I'm a <a href="#" class="hover-underline-animation">Data Engineer </a>who has specialized in creating large scale data solutions. I have expertise creating near Real-time data ingestion pipelines for large scale KPI dashboards.  </p></div>
<br><br>
<a href="https://drive.google.com/file/d/1kolhfufwgrHZ9G5wjM8W7uHDBRd0A9Fd/view?usp=share_link" target="_blank">
        <button class="button-86" role="button">
                <span class="rainbow">Resume</span>
        </button>
</a>
</section>
</main>
<section class="About"  >
        <div class="background-about" data-aos="zoom-in-up"  data-aos-easing="ease-in-sine" data-aos-offset="300">
                <div class="wrapper-about">
                        <h2 class="big-heading">About Me </h2>
                        <p> Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!

                        Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.

                        I also recently launched a course that covers everything you need to build a web app with the Spotify API using Node & React.

                        Here are a few technologies I’ve been working with recently:

                        JavaScript (ES6+)
                        TypeScript
                        React
                        Eleventy
                        Node.js
                        WordPress</p>
                </div>        
               
                  <div class="about-img" ><img class="pattern" src="assets\img\pat-1.png"> <img class="pattern1" src="assets\img\pat-1.png"> <img class="pattern2" src="assets\img\pat-1.png"> <div class="img-circle"><div class="background-circle"></div>   <img class="img" src="assets\img\me.png"></div><span class="experiance" ><h1>3+</h1> YEARS OF EXPERIANCE</span><span class="Projects" >20 Completed projects</span></div>
        </div>
        
</section>



