<main class="fillHeight">

<section class="eEjAsd">
        <br><br>
        <div class="heading">
           <h1> Hey there ✌, my name is</h1>
        </div>
        <div>
        <h2 class="big-heading">Krishnanand Anil.</h2></div>
<div><ngx-typed-js [strings]="['Data scientist.', 'Data Engineer.']"  [typeSpeed]="100" [backSpeed]="50" [smartBackspace]="true" [backDelay]="100" [showCursor]="true" [loop]="true" [loopCount]="3">
        <h3 class="big-heading">I am a  <span class="typing roles"></span></h3></ngx-typed-js></div>
<div><p>Nice to meet you stranger👋, I'm very passionate in creating and learning large scale data solutions. I have expertise in many data related roles, currently I'm a <a href="#" class="hover-underline-animation">Data Engineer </a>who has specialized in creating large scale data solutions. I have expertise creating near Real-time data ingestion pipelines for large scale KPI dashboards.  </p></div>
<br>
<br>
<a href="https://drive.google.com/file/d/1kolhfufwgrHZ9G5wjM8W7uHDBRd0A9Fd/view?usp=share_link" target="_blank">
        <button class="button-86" role="button">
                <span class="rainbow">Resume</span>
        </button>
</a>
</section>

<section class="projects">

</section>


</main>